/* global reset */
header, footer, article, section, hgroup, nav, figure { display: block;}
figure {
	margin:0;
	padding:0;
}
body {
	margin:0;
	color:#333;
	font:11px/14px Helvetica, Arial, sans-serif;
	background:#eaeaea;
	min-width:980px;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
}
img {
	border-style:none;
	vertical-align:top;
}
a {
	text-decoration:none;
	cursor:pointer;
	color:#369;
}
a:hover {text-decoration:underline;}
/* wrapper */
#wrapper {
	overflow:hidden;
	position:relative;
}
.w1,
.w2 {
	position:relative;
	left:50%;
	float:left;
}
.w2 {
	padding:0 76px;
	left:-50%;
}
.w3 {
	min-width:980px;
	margin:0 auto;
}
/* header */
#header {
	background:#369;
	height:1%;
	border-bottom:4px solid #690;
	padding:0 76px 12px 76px;
	width:100%;
	margin:0 -76px;
	position:relative;
	z-index:15;
}
#header:after {
	content:'';
	display:block;
	clear:both;
}
/* navigation */
#nav {
	font:13px/16px Georgia, 'Times New Roman', Times, serif;
	text-transform:uppercase;
	padding:13px 14px 0 0;
	float:right;
}
#nav:after {
	content:'';
	display:block;
	clear:both;
}
#nav ul {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
#nav li {
	float:left;
	position:relative;
	margin:0 0 0 19px;
}
#nav .active:after,
#nav .hover:after {
	content:'';
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-top:7px solid #369;
	position:absolute;
	bottom:-19px;
	left:50%;
	margin:0 0 0 -7px;
}
#nav a {color:#b2cee9;}
#nav .active a,
#nav a:hover {
	color:#fff;
	text-decoration:none;
}
/* logotype */
.logo {
	background:url(../images/logo.png) no-repeat;
	width:129px;
	height:77px;
	overflow:hidden;
	text-indent:-9999px;
	float:left;
	margin:0 0 -48px;
}
.logo a {
	height:100%;
	display:block;
}
/* main */
#main {
	overflow:hidden;
	background:#fff;
	margin:0 -76px 0 -91px;
	padding:0 93px 47px 106px;
}
/* main-block */
.main-block {
	padding:65px 93px 17px 91px;
	margin:0 -93px 29px -91px;
	background:#e3eccf url(../images/bg-main-block.png) no-repeat 84% 100%;
	font-size:14px;
	line-height:17px;
	color:#666;
	overflow:hidden;
	border-bottom:1px solid #d1e0b3;
}
/* breadcrumbs */
.breadcrumbs {overflow:hidden;}
.breadcrumbs ul {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	text-transform:uppercase;
	font:10px/13px Georgia, 'Times New Roman', Times, serif;
	letter-spacing:-1px;
}
.breadcrumbs li {
	float:left;
	margin:0 15px 0 0;
	position:relative;
}
.breadcrumbs li:before {
	content:'';
	position:absolute;
	top:4px;
	left:-10px;
	background:url(../images/arrow-breadcrumbs.png) no-repeat;
	width:4px;
	height:5px;
}
.breadcrumbs li:first-child:before {display:none;}
/* side-box */
.main-block .side-box {
	width:205px;
	float:right;
	border-radius:2px;
	-webkit-border-radius:2px;
	background:#fafcf6;
	background:rgba(255,255,255,0.8);
	padding:0 17px 9px;
	margin:2px 0 0 19px;
	position:relative;
	z-index:3;
}
.main-block .side-box .heading {
	border-radius:2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0;
	background:#4978a6;
	padding:8px 12px 9px;
	margin:0 -17px 22px;
	width:215px;
	position:relative;
}
.main-block .side-box .heading:after {
	content:'';
	position:absolute;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-left:11px solid #4978a6;
	bottom:-10px;
	z-index:-1;
	right:14px;
}
#main .main-block .side-box .heading h2 {
	font:bold 26px/26px Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0;
}
.side-box .side-nav ul {
	margin:0;
	padding:0 0 0 9px;
	list-style:none;
	font-weight:bold;
	font-size:14px;
	line-height:17px;
	overflow:hidden;
}
.side-box .side-nav li {
	position:relative;
	padding:0 0 13px;
}
.side-box .side-nav li:before {
	content:'';
	position:absolute;
	top:2px;
	left:-9px;
	width:2px;
	height:13px;
	background:#4978a6;
}
.text-holder {overflow:hidden;}
#main h1 {
	color:#369;
	margin:0 0 10px -4px;
	font:bold 48px/50px Arial, Helvetica, sans-serif;
}
.main-block blockquote {
	margin:0 0 19px;
	overflow:hidden;
	font:italic 16px/19px Arial, Helvetica, sans-serif;
	letter-spacing:-1px;
}
.main-block q {quotes:none;}
.main-block q:before {content:'';}
.main-block q:after {content:'';}
.main-block cite {
	font-size:12px;
	display:inline-block;
	vertical-align:baseline;
	margin:0 0 0 5px;
}
.main-block .text-info {
	-moz-column-count: 3;
	-moz-column-gap: 38px;
	-webkit-column-count: 3;
	-webkit-column-gap: 38px;
	column-count: 3;
	column-gap: 38px;
}
/* gallery */
.gallery {margin:0 0 28px;}
#main .gallery h2 {
	font:10px/13px Georgia, 'Times New Roman', Times, serif;
	color:#690;
	text-transform:uppercase;
	margin:0 0 1px;
}
.gallery .g1 {
	border-bottom:1px solid #ebebeb;
	box-shadow:inset 0 -1px 0 #fff, inset 0 -3px 0 #ebebeb;
	-webkit-box-shadow:inset 0 -1px 0 #fff, inset 0 -3px 0 #ebebeb;
	position:relative;
}
.gallery:after,
.gallery .g1:after {
	content:'';
	display:block;
	clear:both;
}
.gallery .mask {
	overflow:hidden;
	padding:0 12px 23px;
	margin:0 -12px;
	position:relative;
}
.gallery.style2 .mask {
	padding-bottom:6px;
	position:relative;
}
.gallery .g1:before {
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:2px;
	border-bottom:1px solid #fff;
	background:#ebebeb;
}
.gallery .mask ul {
	margin:0;
	padding:0;
	position:absolute;
	list-style:none;
	width:99999px;
}
* +html .gallery .mask ul {
	position:static;
	overflow:hidden;
}
.gallery .mask ul > li {
	width:220px;
	float:left;
	padding:7px 11px 25px 12px;
	position:relative;
}
.gallery .mask ul > li:first-child {padding-left:0;}
#main .gallery h3 {
	font-size:16px;
	line-height:19px;
	margin:0 0 11px;
}
#main .gallery p {margin:0;}
.gallery .mask .link-box {
	margin:-7px 0 -23px;
	height: 160px;
	display:block;
	background:#369;
	padding:5px 7px 8px;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	line-height:19px;
}
.gallery .mask .link-box img {
	display:block;
	margin:0 -2px 6px;
}
.gallery .mask p a {text-decoration:underline;}
.gallery .mask p a:hover {text-decoration:none;}
.gallery .mask .date {
	position:absolute;
	bottom:8px;
	left:12px;
	right:11px;
	color:#999;
	font-style:normal;
}
.gallery .holder {
	overflow:hidden;
	padding:5px 0 0;
}
.gallery .holder .area {
	float:right;
	margin:-1px 0 0;
}
.gallery .holder .area a {
	float:left;
	width:16px;
	height:16px;
	background:url(../images/ico-navigation-gallery.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 0 3px;
}
.gallery .holder .area a.next {background-position:-19px 0;}
.gallery .holder .more,
.gallery .holder .rss {
	float:left;
	text-transform:uppercase;
	font-size:10px;
	font-weight:bold;
	line-height:13px;
	margin:0 13px 0 0;
}
.gallery .holder .rss {
	color:#f93;
	background:url(../images/ico-rss.png) no-repeat 100% 0;
	padding:0 19px 0 0;
	position:relative;
}
.gallery .holder .rss:before {
	content:'';
	position:absolute;
	top:3px;
	left:-8px;
	width:1px;
	height:8px;
	background:#369;
}
.gallery.style2 .mask li {padding-top:11px;}
.gallery.style2 .link-box {margin:0 0 13px;}
.gallery.style3 .mask li {
	background:#ececec;
	border-radius:3px;
	-webkit-border-radius:3px;
	padding:32px 14px 56px;
	margin:14px 11px 0 12px;
	width:191px;
}
.gallery.style3 .date {
	position:relative;
	display:block;
	left:0;
	margin:0 0 11px;
}
.gallery.style3 .date:before {
	content:'';
	position:absolute;
	height:3px;
	top:-8px;
	left:0;
	right:0;
	background:#a9a9a9;
	border-radius:3px;
	-webkit-border-radius:3px;
}
.gallery.style3 .publication {
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	display:inline-block;
	vertical-align:top;
}
.gallery .download {
	position:absolute;
	left:15px;
	padding:0 0 0 22px;
	bottom:16px;
	background:url(../images/ico-pdf.png) no-repeat;
	font-size:10px;
	line-height:16px;
	text-transform:uppercase;
}
.gallery .download.doc {background:url(../images/ico-doc.png) no-repeat;}
.gallery.style3 .mask {padding-bottom:30px;}
/* info-section */
.info-section {
	overflow:hidden;
	background:#333;
	margin:0 -93px 0 -91px;
	padding:35px 93px 38px 91px;
	color:#fff;
	font:14px/17px Arial, Helvetica, sans-serif;
}
.info-section .visual-list {
	width:465px;
	float:right;
	margin:21px 0 0 25px;
	padding:0;
	list-style:none;
}
.info-section .visual-list li {
	float:left;
	width:115px;
	margin:0 0 -1px 1px;
}
.info-section .visual-list li:hover {
	position:relative;
	z-index:20;
}
.info-section .visual-list .visual {
	display:block;
	vertical-align:baseline;
	position:relative;
	z-index:15;
	border:1px solid transparent;
}
.info-section .visual-list li:hover .visual {border-color:#999;}
.info-section .visual-list .text {
	background: #fdfdfd;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f3f3f3 36%, #e1e1e1 79%, #dfdfdf 80%, #d8d8d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(36%,#f3f3f3), color-stop(79%,#e1e1e1), color-stop(80%,#dfdfdf), color-stop(100%,#d8d8d8));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 36%,#e1e1e1 79%,#dfdfdf 80%,#d8d8d8 100%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 36%,#e1e1e1 79%,#dfdfdf 80%,#d8d8d8 100%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 36%,#e1e1e1 79%,#dfdfdf 80%,#d8d8d8 100%);
	background: linear-gradient(to bottom,  #fdfdfd 0%,#f3f3f3 36%,#e1e1e1 79%,#dfdfdf 80%,#d8d8d8 100%);
	padding:142px 7px 12px;
	position:absolute;
	top:-7px;
	left:-8px;
	right:-9px;
	font-size:11px;
	line-height:14px;
	letter-spacing:-1px;
	color:#666;
	display:none;
	z-index:10;
}
.info-section .visual-list li:hover .text {display:block;}
.info-section .visual-list .text .name {
	font-size:14px;
	line-height:17px;
	color:#333;
	display:block;
	margin:-1px 0 -2px;
}
.info-section .details {
	display:block;
	text-transform:uppercase;
	font:10px/13px Georgia, 'Times New Roman', Times, serif;
	margin:0 0 6px;
}
.info-section .details .mark {
	color:#690;
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 11px;
}
.info-section .details .mark:before {
	content:'';
	position:absolute;
	top:2px;
	left:-6px;
	background:#fff;
	width:1px;
	height:10px;
}
.info-section .text-holder {letter-spacing:-1px;}
#main .info-section h2 {
	color:#fff;
	font:bold 26px/26px Arial, Helvetica, sans-serif;
	margin:0 0 28px;
}
#main .info-section p {margin:0 0 16px;}
.info-section .holder {
	overflow:hidden;
	padding:0 0 16px;
}
/* contact-box */
.contact-box {
	overflow:hidden;
	background:#292929;
	letter-spacing:0;
	padding:9px 10px 16px;
	font-size:12px;
	line-height:15px;
}
.contact-box .heading {
	float:left;
	font-weight:normal;
	border-top:4px solid #690;
	padding:8px 0 0;
	color:#690;
}
.contact-box .contact-info {
	overflow:hidden;
	margin:0;
	padding:13px 0 0 24px;
	list-style:none;
}
.contact-box .contact-info a {
	font-weight:bold;
	color:#fff;
}
.contact-box .contact-info li {padding:0 0 2px;}
/* footer */
#footer {
	overflow:hidden;
	padding:5px 13px 20px;
}
#footer .holder {
	overflow:hidden;
	padding:0 0 22px;
}
/* contact-column */
#footer .holder .contact-column {
	float:right;
	width:243px;
	margin:0 0 0 10px;
	border-top:3px solid #333;
	padding:14px 0 0;
}
#footer .contact-column h3 {
	margin:0 0 7px;
	font-size:12px;
	line-height:15px;
}
#footer .contact-column address {
	font-style:normal;
	margin:0 0 12px;
	line-height:12px;
}
#footer .contact-column p {margin:0;}
#footer .holder .list {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
#footer .holder .list li {
	float:left;
	margin:0 0 0 11px;
	width:12.71%;
}
#footer .holder .list a {
	color:#999;
	display:block;
	padding:14px 0 0;
	border-top:3px solid #999;
}
#footer .holder .list a:hover {
	color:#333;
	text-decoration:none;
	border-top-color:#333;
}
#footer .holder .list a:hover:after {
	content:'»';
	display:block;
	margin:-2px 0 0 1px
}
#footer .holder .list .active a {
	color:#690;
	text-decoration:none;
	border-top-color:#690;
}
#footer .holder .list .active a:after {display:none;}
#footer > p {
	margin:0;
	display:inline-block;
	vertical-align:top;
}
* +html #footer > p {display:inline;}
/* links */
#footer .links {
	margin:0 0 0 -3px;
	padding:0;
	list-style:none;
	display:inline-block;
	vertical-align:top;
}
* +html #footer .links {display:inline;}
#footer .links li {
	float:left;
	font-weight:bold;
	margin:0 0 0 12px;
	position:relative;
}
#footer .links li:before {
	content:'';
	position:absolute;
	top:3px;
	left:-7px;
	background:#333;
	width:1px;
	height:8px;
}
#footer .links a {color:#333;}